
.other-deal
  .deal-name #{otheritem[i]["item-desc"]}
  |      
  .price
    span.mark &yen;
    |        
    span.current #{otheritem[i]["item-price-line"]}
    |        
    del #{otheritem[i]["item-old-price"]}
