doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    | &#x9;
    title &#x3010;&#x9152;&#x5E97;&#x56E2;&#x8D2D;&#x3011;-&#x5317;&#x4EAC;
    | &#x9;
    meta(name='viewport', content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    | &#x9;
    meta(name='format-detection', content='telephone=no')
    | &#x9;
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    | &#x9;
    meta(name='apple-mobile-web-app-capable', content='yes')
    | &#x9;
    meta(name='keywords', content='酒店团购，北京酒店，北京酒店团购')
    | &#x9;
    meta(name='description', content='北京酒店找到500个团购活动:锦江之星北京奥体中心店团购5.5折;北京暖心阁连锁酒店东直门北小街店团购5.3折;北京古韵坊怡景酒店团购6.6折;北京金茂万丽酒店...')
    | &#x9;    
    link(rel='stylesheet', type='text/css', href='stylesheets/common.css')
    | &#x9;    
    link(rel='stylesheet', type='text/css', href='stylesheets/layout.css')
    | &#x9;    
    link(rel='stylesheet', type='text/css', href='stylesheets/header.css')
    |   
    |       
    link(rel='stylesheet', type='text/css', href='stylesheets/footer.css')
    |       
    link(rel='stylesheet', type='text/css', href='stylesheets/compnent.css')
    |       
    link(rel='stylesheet', type='text/css', href='stylesheets/filter-sort.css')
    |       
    link(rel='stylesheet', type='text/css', href='stylesheets/goodscompnent.css')
    |       
    link(rel='stylesheet', type='text/css', href='stylesheets/poigoods.css')
    | &#x9;    
    link(rel='stylesheet', type='text/css', href='stylesheets/hotel.css')
  body.list-page
    header.list-header
      a.back-operate(href='#{_var_net}/hoteldesc')
        i.arrow-left
      |        
      .search-operate
        form.search-form
          .search-inner
            input.search-input(placeholder='搜索商家、分类、地点')
            |        &#x9;    &#x9;    
            a.fake-home-operate
            // <button></button>
          |        &#x9;       
          .suggestion-wrapper
    |     
    article
      section.filter-sort
        ul.filter-sort-head
          li.head-tab &#x9152;&#x5E97;
          |               
          li.head-tab &#x5168;&#x57CE;
          |               
          li.head-tab &#x9ED8;&#x8BA4;&#x6392;&#x5E8F;
          |               
          li.head-tab &#x7B5B;&#x9009;
          |               
          .clear  
        |             
        .filter-sort-body
          section.body-part.category-part
            .main-block
              ul.option-list
                li.option
                  span.option-name &#x5168;&#x90E8;&#x5206;&#x7C7B;
                  |                               
                  span.option-count 0
                |                           
                li.option
                  span.option-name &#x4ECA;&#x65E5;&#x65B0;&#x5355;
                  |                               
                  span.option-count 409
                |                           
                li.option
                  span.option-name &#x7535;&#x5F71;
                  |                               
                  span.option-count 57
                |                           
                li.option
                  span.option-name &#x7F8E;&#x98DF;
                  |                               
                  span.option-count 55848
                |                           
                li.option
                  span.option-name &#x9152;&#x5E97;
                  |                               
                  span.option-count 9418
                |                           
                li.option
                  span.option-name &#x4F11;&#x95F2;&#x5A31;&#x4E50;
                  |                               
                  span.option-count 9336
                |                           
                li.option
                  span.option-name &#x751F;&#x6D3B;&#x670D;&#x52A1;
                  |                               
                  span.option-count 17300
                |                           
                li.option
                  span.option-name &#x4E3D;&#x4EBA;
                  |                               
                  span.option-count 8104
            |                     
            .side-block
          |                  
          section.body-part.area-part
            ul.area-header
              li.area-tab.active &#x5546;&#x5708;
              |                        
              li.area-tab &#x5730;&#x94C1;
            |                    
            .area-body
              section.area-block.content-block.area-show
                .main-block
                  ul.option-list
                    li.option.active.hideheadericon.hideoptioncount
                      span.option-name &#x5168;&#x90E8;&#x5546;&#x5708;
                      |                                 
                      span.option-count 0
                    |                             
                    li.option
                      span.option-name &#x671D;&#x9633;&#x533A;
                      |                                 
                      span.option-count 409
                    |                             
                    li.option
                      span.option-name &#x6D77;&#x6DC0;&#x533A;
                      |                                 
                      span.option-count 57
                    |                             
                    li.option
                      span.option-name &#x897F;&#x57CE;&#x533A;
                      |                                 
                      span.option-count 55848
                    |                             
                    li.option
                      span.option-name &#x4E30;&#x53F0;&#x533A;
                      |                                 
                      span.option-count 9418
                    |                             
                    li.option
                      span.option-name &#x4E1C;&#x57CE;&#x533A;
                      |                                 
                      span.option-count 9336
                    |                             
                    li.option
                      span.option-name &#x660C;&#x5E73;&#x533A;
                      |                                 
                      span.option-count 17300
                    |                             
                    li.option
                      span.option-name &#x901A;&#x5DDE;&#x533A;
                      |                                 
                      span.option-count 8104
              |   
              |                       
              section.subway-block.content-block
                .main-block
                  ul.option-list
                    li.option.active
                      span.option-name &#x5730;&#x94C1;
                      |                                   
                      span.option-count 0
                    |                               
                    li.option
                      span.option-name 1&#x53F7;&#x7EBF;
                      |                                   
                      span.option-count 409
                    |                               
                    li.option
                      span.option-name 2&#x53F7;&#x7EBF;
                      |                                   
                      span.option-count 57
                    |                               
                    li.option
                      span.option-name 3&#x53F7;&#x7EBF;
                      |                                   
                      span.option-count 55848
                    |                               
                    li.option
                      span.option-name 4&#x53F7;&#x7EBF;
                      |                                   
                      span.option-count 9418
                    |                               
                    li.option
                      span.option-name 5&#x53F7;&#x7EBF;
                      |                                   
                      span.option-count 9336
                    |                               
                    li.option
                      span.option-name 6&#x53F7;&#x7EBF;
                      |                                   
                      span.option-count 17300
                    |                               
                    li.option
                      span.option-name 7&#x53F7;&#x7EBF;
                      |                                   
                      span.option-count 8104
          |                  
          section.body-part.order-part
            ul.option-list
              li.option.hideheadericon.order-part-moren
                span.option-name &#x9ED8;&#x8BA4;&#x6392;&#x5E8F;
                |                                   
                span.option-status
              |                               
              li.option.hideheadericon
                span.option-name &#x79BB;&#x6211;&#x6700;&#x8FD1;
                |                                   
                span.option-status
              |                               
              li.option.hideheadericon
                span.option-name &#x9500;&#x91CF;&#x6700;&#x9AD8;
                |                                   
                span.option-status
              |                               
              li.option.hideheadericon
                span.option-name &#x8BC4;&#x4EF7;&#x6700;&#x9AD8;
                |                                   
                span.option-status
              |                               
              li.option.hideheadericon
                span.option-name &#x4EF7;&#x683C;&#x6700;&#x4F4E;
                |                                   
                span.option-status
              |                               
              li.option.hideheadericon
                span.option-name &#x4EF7;&#x683C;&#x6700;&#x9AD8;
                |                                   
                span.option-status
              |                               
              li.option.hideheadericon
                span.option-name &#x6700;&#x65B0;&#x53D1;&#x5E03;
                |                                   
                span.option-status
          |                  
          section.body-part.filter-part
            .filter-block
              .filter-checkboxes-block
                a.filter-checkbox(href='javascript:void(0);')
                  i.checkbox-icon
                  |                              
                  span.checkbox-title &#x5168;&#x7F51;&#x4F4E;&#x4EF7;
                |   
                |                            
                a.filter-checkbox(href='javascript:void(0);')
                  i.checkbox-icon
                  |                              
                  span.checkbox-title &#x514D;&#x9884;&#x7EA6;
              |                        
              .filter-radios-block
                h4.filter-radios-title &#x4EF7;&#x683C;
                |                            
                .radio-wrapper
                  a.filter-radio.checked
                    | &#x4E0D;&#x9650;
                |                            
                .radio-wrapper
                  a.filter-radio
                    | 50&#x5143;&#x4EE5;&#x4E0B;
                |    
                |                            
                .radio-wrapper
                  a.filter-radio
                    | 50-100&#x5143;
                |    
                |                            
                .radio-wrapper
                  a.filter-radio
                    | 100-200&#x5143;
                |   
                |                            
                .radio-wrapper
                  a.filter-radio
                    | 200-300&#x5143;
                |          
                |                            
                .radio-wrapper
                  a.filter-radio
                    | 300&#x4EE5;&#x4E0A;
                |                            
                .clear  
              |                        
              .filter-submit-block
                a.filter-submit &#x5B8C;&#x6210;
      |   
      |         
      section.good-container
        .list-poi-goods
          // poi
          - for(var i=0;i<proitems.length;i++){
              include hotel-poi.jade
          - }
      |         
      section.list-viewmore
        a.list-gotop(href='javascript:void(0);') &#x56DE;&#x5230;&#x9876;&#x90E8;
        |             
        .viewmore
          .viewmore-block
            p.status &#x52A0;&#x8F7D;&#x66F4;&#x591A;
    |       
    footer#footer.footer
      section.info-block
        .city-wrap
          span.city
            | &#x57CE;&#x5E02;&#xFF1A;
          |                 
          a.city-area.info-link(href='javascript:void(0);')
            | &#x5317;&#x4EAC;
        |              
        .usr-wrap
          a.nuomiquan.info-link(href='javascript:void(0);') 优惠券(0)
          |                  
          a.waitpaid.info-link(href='javascript:void(0);') 待付款(0)
      |           
      section.link-block
        a.link(href='javascript:void(0);') &#x9996;&#x9875;
        |               
        a.link(href='javascript:void(0);') &#x7535;&#x8111;&#x7248;
        |               
        a.link(href='javascript:void(0);') &#x5BA2;&#x6237;&#x7AEF;
        |               
        a.link(href='javascript:void(0);') &#x4FE1;&#x606F;&#x53CD;&#x9988;
        |               
        a.link(href='javascript:void(0);') &#x5E2E;&#x52A9;
      |           
      section.copyright-block
        | yequan.ren 闽ICP备16004418号
    |    
    |       
    a.goTop(href='javascript:void(0);')  
