.register-tip
.form-btn,
.yonghuxieyi,
.account-login,
.sms-submit,
.form-wrap{
    font-family: "Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti";
}

.form-wrap{
    padding: 0 10px;
    -webkit-box-sizing: border-box;	
}

.form-wrap .error_area{
    min-height: 28px;
    /*padding: 5px 10px 5px 18px;*/
    padding: 5px 10px 5px 10px;

    line-height: 14px;
    font-size: 14px;	
    color:red;
}

.account-login{
    float: right;
    padding-bottom: 10px;
    color: #1b66c7;
    font-size: 14px;
}


.form-p-wrap{
    position: relative;
    box-sizing:border-box;
    width: 100%;
    height: 50px;
    padding: 0 14px;
    background: #fff;
    border: 1px solid #bcbcbc;
    margin-bottom: 10px;   
}


.form-p-wrap .form-lbl{
    width: 74px;
    margin-right: 10px;
    padding-left: 0;
    font-size: 14px;
    line-height: 48px;
    display: inline-block;
}

.form-p-wrap .form-in{
    border: none;
    width: 65%;
    overflow: hidden;
}

.form-p-wrap  .pass-button-auto
{   
    position: absolute;
    right: 5px;
    top: 4px;
    padding: 8px 0;
    font-size: 16px;
    color: #666;
    border: 1px solid #ddd;
    background: #f7f7f7;
    cursor: pointer;
    width: 110px;
}

.form-btn{
	width: 100%;
}

.form-btn .sms-submit{
    width: 100%;
    line-height: 44px;
	color: #fff;
    font-size: 16px;
    border: 1px solid #a4c7f3;
    background: #a4c7f3;
    border-radius: 2px;
    text-align: center;    
}



.yonghuxieyi{
	margin: 10px 14px 0;
	font-size: 14px;
	color: #969696;
}

.yonghuxieyi a{
    color: #1b66c7;	
}


 .register-tip{
    margin-bottom: 10px;
    font-size: 14px;
    color: #969696;
 }