.arrow-down{
	position: absolute;
	height: 8px;
	width: 8px;
	box-sizing: border-box;

	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
    background-color: transparent;
	-webkit-transform:rotate(45deg);
}

.arrow-left{
	position: absolute;
	height: 13px;
	width: 13px;
	box-sizing: border-box;

	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
    background-color: transparent;
	-webkit-transform:rotate(135deg);
}

/*浮动要清除 否则父容器没法自动撑开*/
.clear{
    clear: both;
}

.goTop{
	width: 50px;
    height: 39px;
    position: fixed;
    display: block;
    /*display: none;*/
    right: 12px;
    bottom: 60px;
    z-index: 20;
    background-image: url(../images/common-page/goTop.png);
    background-size: 39px 39px;
    background-position: center;
    background-repeat: no-repeat;
}

/*score-star --start*/

.score-star{
	line-height: 46px;
}

.score-star .star-gray{
    display: inline-block;

    width: 107.35px;
    height: 16px;
    background: url(../images/common-page/xingxing.png) no-repeat;
    background-size: auto 100%;	
    /*vertical-align: middle;  垂直居中*/
}

.score-star .star-gray .star-real{
    /*display: inline-block; 这个会影响到父容器的定位*/  
    width: 92.43px;
    height: 100%;
    background: url(../images/common-page/wukexing.png) no-repeat;
    background-size: auto 100%;	
}

.score-star .star-gray.star-type-1{
    height: 16px;
}

.score-star .star-gray.star-type-2{
    height: 12px;
}


.score-star .score{
    margin-left: 10px;
    vertical-align: 1px;
    font-size: 14px;
    color: #fe7e01;
}

 .count {
    float: right;
    margin-top: -46px;
    margin-right: 10px;
}

/*score-star --end*/

/*rs-word --start*/
.rs-word .u-rs-word{
   padding-right: 8px;
   margin-bottom: 10px;
}

.rs-word .u-rs-word li{
    float: left;
    width: 33.33333333%;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;    
}


.rs-word .u-rs-word li .word{
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    height: 32px;
    margin: 8px 0 0 8px;
    padding: 0 2px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 13px;
    color: #55555d;   
    line-height: 32px;
    font-size: 14px;     
}
/*rs-word --end*/

/*swiper-free-mode*/
.recom-good .img-wrap{
    width: 115px;
    height: 86px;
    overflow: hidden;
    background: url(../images/home-detail-page/article/bck.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; 
}

.recom-good .title{
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    color: #22222d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recom-good .other{
    margin-top: 5px;
    height: 10px;
    line-height: 10px;
    color: #88888d;
}

.recom-good .other .amount{
    float: left;
    font-size: 12px;
    -webkit-transform: scale(.83333333);
    transform: scale(.83333333);
    -webkit-transform-origin: 0 50%;    
    transform-origin: 0 50%;    
}

.recom-good .price{
     margin-top: 6px;
    height: 18px;
    font-size: 0;   
}

.recom-good .current-price{
    font-size: 18px;
    color: #ff4689;
}

.recom-good .current-price:before
{
    content: '¥';
    display: inline-block;
    font-size: 12px;    
}

.recom-good .original-price{
    margin-left: 10px;
    font-size: 12px;
    color: #88888d;
}



.recom-wrapper .static-container{
    position: relative;
    width: 100%;
            /*禁止滚动条  必须在父容器上使用 才能控制子元素可视范围*/
    overflow: hidden;
    background-color: #fff;
}


.recom-wrapper .static-container .swiper-free-mode{
    position: relative;
    width: 400%;
}


.recom-wrapper .static-container ol li{
    float: left;
    box-sizing: border-box;
    padding: 0 12px;
    margin: 14px 0;
}


/*swiper-free-mode*/