.filter-sort{
	width: 100%;
	height: 40px;	
	background-color: #f8f8f8;
}

.filter-sort .filter-sort-head{
    position: relative;
    top: 0;
    width: 100%;
    line-height: 39px;
    height: 39px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 13px;
    color: #666;
    z-index: 12;
}

.filter-sort .head-tab{
	position: relative;
	float: left;
	width: 25%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.filter-sort .head-tab:after{
	content: " ";
	display: inline-block;
	margin-left: 7px;
	margin-bottom: 3px;
	width: 6px;
	height: 6px;
	background-color: transparent;
	border-bottom: 1px solid #333;
	border-left:1px solid #333;
	-webkit-transform:rotate(-45deg);
}

.filter-sort .filter-sort-body{
    position: absolute;
    width: 100%;
    background-color: #eee;
    line-height: 1;
    z-index: 11;
}

.filter-sort .filter-sort-body .body-part{
	padding-top: 2px;
	display: none;
}

.filter-sort .filter-sort-body .filter-part{

}
/*-------------------------------------------------------------------------------*/

.filter-sort .filter-sort-body .main-block{
	 width: 50%;
}

.filter-sort .filter-sort-body .option-list{
    position: relative;
}

.filter-sort .filter-sort-body .option-list .option{
	width: 100%;
    height: 40px;
    padding: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e2e2e2;
    font-size: 14px;
    color: #111;
}

.filter-sort .filter-sort-body .option-list .option.active{
    background-color: #eee;
    color: #ff4987;
}

.filter-sort .filter-sort-body .option-list .option:before{
    content: '';
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 0;   
    background-image: url(../images/common-page/option01.png);
}

.filter-sort .filter-sort-body .option-list .option.hideheadericon:before{
    display: none;
}

.filter-sort .filter-sort-body .option-list .option-count
{
	position: absolute;
    right: 8px;
    line-height: 16px;
    height: 16px;
    padding: 0 6px;
    background-color: #aaa;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;    
}

.filter-sort .filter-sort-body .option-list .option-count:after
{
	content: '';
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 4px;
    margin-bottom: 1px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);  
}


.filter-sort .filter-sort-body .option-list .option.hideoptioncount .option-count{
   display: none;
}


.filter-sort .filter-sort-body .area-part .area-header{
/*	position: absolute;*/
    width: 100%;
    padding: 8px 0;
    height: 24px;
    z-index: 13;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
}


.filter-sort .filter-sort-body .area-part .area-header .area-tab{
	float: left;
    position: relative;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 24px;
    height: 24px;
    border-right: 1px solid #ccc;
    text-align: center;
    font-size: 13px;
    color: #666;
}

.filter-sort .filter-sort-body .area-part .area-header .area-tab.active:before{
	content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 100px;
    height: 2px;
    background-color: #FF4728;
    margin-left: -50px;
}

.filter-sort .filter-sort-body .area-part .area-body
{
	position: relative;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-sort .filter-sort-body .area-part .area-body .content-block{
	display: none;
}
.filter-sort .filter-sort-body .area-part .area-body .area-show{
	display: block;
}

.filter-sort .filter-sort-body .option-list .option.order-part-moren{
    background-color: #eee;
    color: #111;
}

.filter-sort .filter-sort-body  .filter-block
{
       background-color: #f8f8f8;
}

.filter-sort .filter-sort-body  .filter-block .filter-checkboxes-block
{
	width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
    overflow: hidden;
}


.filter-sort .filter-sort-body  .filter-block .filter-checkboxes-block .filter-checkbox 
{
	float: left;
    width: 50%;
    font-size: 14px;
    color: #666;
}

.filter-sort .filter-sort-body  .filter-block .filter-checkboxes-block .checkbox-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #999;
    vertical-align: middle;
}

.filter-sort .filter-sort-body  .filter-block .filter-checkboxes-block .checkbox-title{
    vertical-align: middle;
}


.filter-sort .filter-sort-body  .filter-block .filter-radios-block{
    border-top: 1px solid #e2e2e2;
    padding: 18px 12px 10px;
    overflow: hidden;
}




.filter-sort .filter-sort-body  .filter-block .filter-radios-block .filter-radios-title{
        margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #888;
}

.filter-sort .filter-sort-body  .filter-block .filter-radios-block .radio-wrapper{
	float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.filter-sort .filter-sort-body  .filter-block .filter-radios-block  .radio-wrapper .filter-radio{
	display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 26px;
    height: 26px;
    text-align: center;
    font-size: 12px;
    color: #666;
}

.filter-sort .filter-sort-body  .filter-block .filter-radios-block  .radio-wrapper .checked{
	color: #FF4728;
    border-color: #FF4728;
}

.filter-sort .filter-sort-body  .filter-block .filter-submit-block{
	width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 12px 18px;
}

.filter-sort .filter-sort-body  .filter-block .filter-submit-block  .filter-submit{
        display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: #FF4728;
    font-size: 16px;
}