.index-header  a{
     position: absolute;
     opacity: .65;
}

.index-header .city-operate{
	left: 0;
	padding: 0 24px 0 12px;
	height: 44px;
	line-height: 44px;
}

.index-header .city-operate > .arrow-down{
   left: 50px;
   top: 50%;
   margin-top: -5px;
}

.index-header > .page-title{
    height: 100%;
    /*background: url(../images/index-page/header/header-title.png) center no-repeat;*/
    background-size: 78px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.index-header .usr-operate{
    right: 0;
    padding: 0 12px 0 25px;
    height: 44px;
    line-height: 44px; 
}

.index-header .usr-operate > .user-image{
	position: absolute;
    left: 6px;
    width: 15px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/index-page/header/user-imgae.png)
}

.man-content .index-search{
	position: relative;
}

.man-content .search-form{
	position: relative;
	padding: 5px 12px;
	background-color: #eee;
	-webkit-transition: 0.3s;
}

.man-content .search-form .form-inner{
	position: relative;
	width: 100%;
	height: 34px;
	box-sizing: border-box;
	overflow: hidden;
}

.man-content .search-form .form-inner .search-input{
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 0 0 12px;
    box-sizing: border-box;
	overflow: hidden;
    border: 1px solid #dbdbdb;
    border-radius: 24px;
    line-height: 20px;
    color: #303030;
}

.man-content .search-form .form-inner .search-image{
	position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 10px;
    height: 12px;
    width: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url(../images/index-page/article/search-image.png)
}

.man-content  .index-area{
    line-height: 43px;
    border-top: 1px solid  #fff;
    background-color: #fff;
}

.man-content .index-carousel{
	position: relative;
	width: 100%; 
	height: 100%;
}

.man-content .index-carousel .carousel-inner{
    /*这里用absolute 父容器就不能自动撑开*/
    position: relative;    
    /* 一个父width*/
    left: -100%;  
    top: 0px;
    /*容器为 父容器宽度的五倍 五倍屏幕*/
    width: 500%;
    height: 100%;
}

.man-content .index-carousel .carousel-inner .item{
    float: left;
    /*取父容器的五分之一 即一个屏幕*/
    width: 20%;
}


.man-content .index-catg{
	width: 100%; 
	background: #fff;
}

.man-content .index-catg .carousel-inner{
    /*这里用absolute 父容器就不能自动撑开*/
    position: relative;    
    /* 一个父width*/
    left: 0;  
    top: 0;
    /*两倍屏幕*/
    width: 200%;
    height: 100%;
}
.man-content .index-catg  .carousel-inner .item{
    float: left;
    width: 50%;
    padding-top: 12px;
}

.man-content .index-catg  .carousel-inner .item img {
    width: 40%;
}

.man-content .index-catg  .carousel-inner .subitem-container{
	position: relative;
	width: 100%;
	height: 100%;
}

.man-content .index-catg  .carousel-inner  .subitem-container .subitem{
	float: left;
	width: 25%;
	height: 100%;	
	display: block;
    box-sizing: border-box;

    font-size: 12px;
    color: #303030;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.man-content .index-catg  .carousel-inner  .subitem-container .subitem .text{
	font-size: 13px;
    text-align: center;
    line-height: 1em;
}


.man-content .index-catg  ol{
	position: static;
    box-sizing:border-box;
    left: 0;
    bottom: 0;
	display: block;
	width: 100%;
    list-style-type: none;
    text-align: center;
    padding-left: 45%;
    margin-top: 20px;
}

.man-content .index-catg  ol li{
    border: 1px solid #88888d;
    margin-left: 10px;
}

.man-content .index-catg  ol .active{
    background-color: #FF4728;
    border: 1px solid #FF4728;
}

/*
px 像素 是相对于屏幕分辨率 
百分比 是相对于 父对象的宽度
.man-content .index-topten{
	width: 100%; 
	background: #fff;
}

.man-content .index-topten .hd{
	float: left;
	width: 40%;
}

.man-content  .index-topten .content{
	float: left;
	width: 60%;
}
.man-content  .index-topten .content img{
    width: 100%;
}

.man-content .index-topten .hd {
	float: left;
	width: 40%;
}

*/




.man-content .index-topten{
	width: 100%; 
	background: #fff;
}

.man-content .index-topten .hd{
	float: left;
	width: 40%;
}

.man-content  .index-topten .content{
	box-sizing : border-box;
	float: left;
	width: 60%;
    border-left: 1px solid #fff;
    padding: 3% 0;
}
.man-content  .index-topten .content img{
    width: 100%;
}

.man-content .index-topten .hd {
	box-sizing : border-box;
	padding: 3.75% 0 0 3.75%;
	float: left;
	width: 40%;
}


.man-content .index-topten .hd .title{
	margin-top:7.5%;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1;
	color:#22222d;
}


.man-content .index-topten .hd .countdown {
    line-height: 18px;
    font-weight: 700;
    font-size: 1em;
    color: #ee4339;
}

.man-content .index-topten .hd .countdown .status{
	margin: 7.5% 0 11%;
	color: #88888d;
	font-weight: 400;
	font-size: 1em;
    line-height: 1;
}

.man-content .index-topten .hd .countdown  .dot{
	margin: 0 3px;
	font-size: 1.75em;
}

.man-content .index-topten .hd .countdown i{
    font-size: 1.75em;
    color: #ee4339;
    font-style: normal;
    line-height: 1;
}

@media screen and (max-width: 480px) and (min-width: 360px){
    .man-content  .index-topten{
        font-size: 14px;
    }
}
@media screen and (min-width: 480px){
    .man-content  .index-topten{
        font-size: 18px;
    }
}
@media screen and (max-width: 360px){
    .man-content  .index-topten{
        font-size: 12px;
    }
}


.man-content .static-container{
	position: relative;
	width: 100%;
	    	/*禁止滚动条  必须在父容器上使用 才能控制子元素可视范围*/
    overflow: hidden;
    background-color: #fff;
}

.man-content .static-container .swiper-free-mode{
	position: relative;
    width: 200%;
}

.man-content .static-container ol li{
    float: left;
    box-sizing: border-box;
    padding: 0 12px;
    margin: 14px 0;
}

.man-content .static-container .activity-name{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     margin-top: 9px;
     margin-bottom: 6px;
     font-size: 16px;
     font-weight: 400;
     color: #22222d;
     line-height: 1em;
}
.man-content .static-container .activity-desc{
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 13px;
     color: #55555d;
     line-height: 1em;
}
.man-content .static-container .activity-img{
      width: 52px;
      height: 52px;
}

.man-content .static-container .active-block-layout  ol{
    position: relative;
    width: 100%;
}

.man-content .static-container .active-block-layout .activity-img{
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top:-26px;
}

.man-content .index-area .goods-list-title
{
    box-sizing: border-box;
    padding: 0 12px 0 10px;
    color: #303030;
    font-weight: 400;
    font-size: 16px;
}
.man-content .index-area  .goods-list-more-link
{
    float: right;
    position: relative;
    margin-right: 10px;
    font-size: 13px;
    color: #55555d; 
}

.man-content .index-area  .goods-list-more-link:after
{  content: " ";
   position: absolute;
   box-sizing:border-box;
   top:50%;
   margin-top:-4px;
   right: -10px;
   display: block;

   width: 8px;
   height: 8px;
   background-color: transparent;

   border-left: 1px solid #333;
   border-top:1px solid #333;
   -webkit-transform:rotate(135deg);
}

.man-content .view-all{
    padding: 10px;
    height: 29px;
    line-height: 29px;
    color: #303030;
    font-size: 13px;
    text-align: center;;
    background-color: #fff;
    display: block;
}

/*good的样式  引入goodscomponent.css -- start*/

.goods-container{
    position: relative;
    width: 100%;
}

.goods-container .normal-goods{
   background-color: #fff;
}

 .goods-container .good{
   width: 100%;
}

/*good的样式  引入goodscomponent.css -- end*/


/*引用 footer.css --start*/
/*引用 footer.css --end*/

/*引用 component.css --start*/
/*引用 component.css --end*/
