/*引入head.CSS --START*/
/*引入head.CSS* --END */

.mct-head{
    margin-bottom: 12px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
} 

.mct-head .mct-info{
    padding: 12px;
}

.mct-head .mct-info .img-wrap{
    position: relative;
    float: left;
    width: 108px;
    height: 85px;
    margin-right: 10px;
    background: url(../images/mct-detail-page/article/bck.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.mct-head .mct-info .img-wrap img{
   display: block;
    width: 140px;
    margin-left: -16px;   
    height: 100%;
}

.mct-head .content{
   height: 85px;
   overflow: hidden;
}

.mct-head .content h1{
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    color: #313233;
}

/*引用 component.css score-star --start*/
.mct-head .score{
    position: relative;
    margin: 0 0 5px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #7a7e80;
    text-align: left;	
}
.mct-head  .score-star{
   line-height: 20px;
}

.mct-head  .score-star .star-real{
   width:80px;
}
/*引用 component.css score-star --end*/

.mct-head .mct-addr{
   position: relative;
   display: block;
   padding: 14px 40px 14px 30px;
   border-top: 1px solid #fff;
   line-height: 19px;
   font-size: 13px;
   color: #88888d;
}

.mct-head .mct-addr:before{
    content: '';
    float: left;
    width: 13px;
    height: 16px;
    margin-right: 5px;
    margin-left: -18px;
    background: url(../images/common-page/dingwei.png) no-repeat;
    background-size: 13px 16px;	
}

.mct-head .mct-addr:after{
	content: " ";
    position: absolute;
    right: 12px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);	
}

.mct-head .mct-phone{
    border-top: 1px solid #ccc;
    line-height: 40px;
    height: 40px;
}

.mct-head .mct-phone .icon{
    float: left;
    width: 33.3333%;
    text-align: center;
}

.mct-head .mct-phone .icon:before{
    content: '';
    display: inline-block;
    width: 23px;
    height: 17px;
    vertical-align: -3px;    
}

.mct-head .mct-phone .phone:before{
   background: url(../images/common-page/tel.png) center no-repeat;
   background-size: 17px 17px;   
}

.mct-head .mct-phone .envt:before{
   background: url(../images/common-page/huanjing.png) center no-repeat;
   background-size: 17px 17px;   
}

.mct-head .mct-phone .panoramic:before{
   background: url(../images/common-page/quanjing.png) center no-repeat;
    background-size: 12px 17px;
    width: 19px;  
}

/*引入 poigoods.CSS --START*/
/*.poi.goods 引入 goodscomponent.css --start*/
/*.poi.goods 引入 goodscomponent.css --end*/
.mct-good-container .good-content .info-wrapper {
    margin-left: 0;
}

.mct-good-container .list-poi-goods .poi{
    margin: 0;
}

.mct-good-container .list-poi-goods .poi .good .good-content .info-wrapper .desc{
	height: 30px;
    margin: 0;
}

.mct-good-container .list-poi-goods .poi .good .good-content .price-line ins{
	font-weight: normal;
}

.mct-good-container .good-content .info-wrapper .bought{
    font-size: 12px;
    -webkit-transform: scale(.91666667);
    transform: scale(.91666667);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;      
}
.mct-good-container .list-poi-goods .poi .poi-footer
{      
	position: relative;
    font-size: 14px;
    text-align: left;
    color: #ff4978;
    margin-left: 10px;
}

.mct-good-container .list-poi-goods .poi .poi-footer:after
{      
	position: absolute;
	display: block;
    right: 14px;
    top: 50%;
    left: auto;
    margin-top: -3.5px;
}
/*引入 poigoods.CSS rs-word --END*/

/*引入 component.css rs-word --start*/
.mct-rs .title{
	padding-left: 12px;
	padding-top: 5px;	
	padding-bottom: 5px;
	font-size: 12px;
}

.mct-rs .rs-word .u-rs-word{
    background-color: #fff;
}

.mct-rs .rs-word .u-rs-word li{
    border-bottom: none;   
}

.mct-rs .rs-word .u-rs-word li .word{
	border: none;
	border-right: 1px dashed #e5e5e5;
}
/*引入 component.css --end*/

.mct-detail-page .recom-deal .small-title{
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    color: #888;
    background: #efefef;
    font-weight: 400;
    padding: 0 12px;
    white-space: nowrap;	
}

.near-recom-wrapper .hd
{
	padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}